<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>

    <!-- AWAL INPUT  -->
    <div class="container">
      <div class="row">
        <div class="col-5">
          <h2>FORM UPDATE DATA</h2>
          <form class="mt-4" method="post" action="/kinerja?_method=PUT">
            <input type="hidden" name="_id" value="<%= editKinerja._id %>" />
            <div class="mb-3">
              <label for="unit" class="form-label">Nama Unit</label>
              <input type="text" class="form-control" id="unit" name="unit" required value="<%= editKinerja.unit %>" />
            </div>
            <div class="mb-3">
              <label for="produksi" class="form-label">Produksi</label>
              <input type="number" class="form-control" id="produksi" name="produksi" required value="<%= editKinerja.produksi %>" />
            </div>
            <div class="mb-3">
              <label for="ps" class="form-label">Pemakaian Sendiri</label>
              <input type="number" class="form-control" id="ps" name="ps" required value="<%= editKinerja.ps %>" />
            </div>
            <div class="mb-3">
              <label for="pemakaianBB" class="form-label">Pemakaian Batubara</label>
              <input type="number" class="form-control" id="pemakaianBB" name="pemakaianBB" required value="<%= editKinerja.pemakaianBB %>" />
            </div>
            <div class="mb-3">
              <label for="nilaiKalor" class="form-label">Nilai Kalor</label>
              <input type="number" class="form-control" id="nilaiKalor" name="nilaiKalor" required value="<%= editKinerja.nilaiKalor %>" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <!-- AKHIR INPUT  -->

    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
