<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="" class="logo d-flex align-items-center">
          <img src="img/logopln.png" alt="" />
          <span class="d-none d-lg-block">PORTAL ULPLTD KOTAMOBAGU</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="img/no-image.gif" alt="Profile" class="rounded-circle" />
              <span class="d-none d-md-block dropdown-toggle ps-2"><%= user.name %> </span> </a
            ><!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6><%= user.name %></h6>
                <span><%= user.email %> </span>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/logout">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Log Out</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
          </li>
          <!-- End Profile Nav -->
        </ul>
      </nav>
      <!-- End Icons Navigation -->
    </header>
    <!-- End Header -->

    <!-- Start Sidebar  -->
    <%- include('../partials/sidebar') %>
    <!-- End Sidebar  -->

    <!-- AWAL INPUT  -->
    <main id="main" class="main">
      
      <!-- <div class="pagetitle">
      <h1>Form Input Data</h1>
      </div>End Page Title -->
      <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Form Input Data</h5>
              <!-- General Form Elements -->
              <form class="row g-3" method="post" action="/input">
                <div class="col-md-7">
                  <label class="form-label">Periode Data</label>
                  <input type="month" class="form-control me-2" id="periodeData" name="periodeData" required/>
                </div>
                <div class="col-md-6">
                  <label class="mb-2" for="unit">Nama Unit</label>
                    <div class="input-group">
                      <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" id="namaUnit" name="namaUnit" required>
                        <option selected disabled>Masukkan Nama Unit</option>
                        <option value="PLTD Kotamobagu #1">PLTD Kotamobagu #1</option>
                        <option value="PLTD Kotamobagu #2">PLTD Kotamobagu #2</option>
                        <option value="PLTD Kotamobagu #3">PLTD Kotamobagu #3</option>
                        <option value="PLTD Kotamobagu #4">PLTD Kotamobagu #4</option>
                        <option value="PLTD Kotamobagu #5">PLTD Kotamobagu #5</option>
                        <option value="PLTD Kotamobagu #6">PLTD Kotamobagu #6</option>
                      </select>
                    </div>
                </div>

                <div class="col-md-3">
                  <label class="form-label">Daya Terpasang</label>
                  <input type="number" id="dayaTerpasang" class="form-control" name="dayaTerpasang">
                </div> 
                
                <div class="col-md-3">
                  <label class="form-label">Daya Mampu</label>
                  <input type="number" class="form-control" id="dayaMampu" name="dayaMampu">
                </div>

                <div class="col-md-6">
                  <label class="form-label">Produksi</label>
                  <input type="number" class="form-control" id="produksi" name="produksi" placeholder="Masukkan produksi dalam satuan kWh" required>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Plan Outage (PO)</label>
                  <input type="number" class="form-control" id="po" name="po" placeholder="Masukkan durasi PO dalam satuan jam" required>
                </div> 

                <div class="col-md-6">
                  <label class="form-label">PS Sentral</label>
                  <input type="number" class="form-control" id="psSentral" name="psSentral" placeholder="Masukkan PS sentral dalam satuan kWh" required>
                </div>
                
                <div class="col-md-6">
                  <label class="form-label">Maintenance Outage (MO)</label>
                  <input type="number" class="form-control" id="mo" name="mo" placeholder="Masukkan durasi MO dalam satuan jam" required>
                </div> 

                <div class="col-md-6">
                  <label class="form-label">PS Trafo</label>
                  <input type="number" class="form-control" id="psTrafo" name="psTrafo" placeholder="Masukkan PS trafo dalam satuan kWh" required>
                </div> 

                <div class="col-md-6">
                  <label class="form-label">Force Outage (FO)</label>
                  <input type="number" class="form-control" id="fo" name="fo" placeholder="Masukkan durasi FO dalam satuan jam" required>
                </div> 

                <div class="col-md-6">
                  <label class="form-label">Pemakaian Bahan Bakar</label>
                  <input type="number" class="form-control" id="pemakaianBBM" name="pemakaianBBM" placeholder="Masukkan pemakaian bahan bakar dalam satuan liter" required>
                </div> 
                
                <div class="col-md-6">
                  <label class="form-label">Service Hour (SH)</label>
                  <input type="number" class="form-control" id="sh" name="sh" placeholder="Masukkan durasi SH dalam satuan jam" required>
                </div>
                
                <div class="col-md-6">
                  <label class="form-label">Jumlah Trip Internal</label>
                  <input type="number" class="form-control" id="tripin" name="tripin" placeholder="Masukkan jumlah trip internal" required>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Period Hour (PH)</label>
                  <input type="number" class="form-control" id="ph" name="ph" placeholder="Masukkan durasi PH dalam satuan jam" required>
                </div>
                
                <div class="col-md-6">
                  <label class="form-label">Jumlah Trip Eksternal</label>
                  <input type="number" class="form-control" id="tripex" name="tripex" placeholder="Masukkan jumlah trip eksternal" required>
                </div>

                  <div><h6 class="derating">Data Derating (Jam)</h6></div>
                <div class="col-md-3">
                  <label class="form-label">EPDH</label>
                  <input type="number" class="form-control" id="epdh" name="epdh" placeholder="Masukkan EPDH" required>
                </div> 
                
                <div class="col-md-3">
                  <label class="form-label">EUDH</label>
                  <input type="number" class="form-control" id="eudh" name="eudh" placeholder="Masukkan EUDH" required>
                </div>

                <div class="col-md-3">
                  <label class="form-label">ESDH</label>
                  <input type="number" class="form-control" id="esdh" name="esdh" placeholder="Masukkan ESDH" required>
                </div>
                
                <div class="col-md-3">
                  <label class="form-label">EFDHRS</label>
                  <input type="number" class="form-control" id="efdhrs" name="efdhrs" placeholder="Mesukkan EFDHRS" required>
                </div>
                
                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-primary">Simpan</button>
                  <button type="reset" class="btn btn-danger">Hapus</button>
                </div>
              </form>
              <!-- End General Form Elements -->
  </main><!-- End #main -->
<!-- AKHIR INPUT  -->
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
